---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { handleProjectClick } from '../scripts/projectToggle.ts';
---

<Layout title="Nathan Zweifel">
	<div class="container">
        <header class="header">
            <div class="header-left">
				<div class="logo">
                    <img src="images/logoN.svg" alt="Logo" />
                </div>
            </div>
            <div class="header-right">
                <!-- Contenu de la section longue (droite) -->
                <h1>Nathan Zweifel</h1>
            </div>
        </header>
        <div class="content">
            <div class="left-column">
				<div class="section resume">
					<h2>Resume</h2>
					<p>Nathan Zweifel is a Swiss interaction designer with a background in media engineering who is fascinated by tangible interfaces, game design, and the innovative use of AI for storytelling, focusing on playful experiences.</p>
					<p>Among his projects, Nathan developed a small robot designed to help children create collaborative stories, fostering both creativity and teamwork. He is currently working on a video game that offers critical reflections on technology and its repairability.</p>
				</div>
				<div class="section contact">
					<h2>Contact</h2>
					<ul>
						<li>Email: <a href="mailto:hello@nathanzweifel.ch">hello@nathanzweifel.ch</a></li>
						<li>LinkedIn: <a href="https://www.linkedin.com/in/nathan-zweifel-639aa9192/">linkedin.com/in/nathan-zweifel-639aa9192</a></li>
						<li>GitHub: <a href="https://github.com/zweifelna">github.com/zweifelna</a></li>
					</ul>
				</div>
			</div>
            <div class="right-column section projects">
                <h2>Projects</h2>
                <ul>
                    <li><a href="#" class="project-link">Trust the repair (2024)</a></li>
                    <li><a href="#" class="project-link">Jardin des Aiguilles (2024)</a></li>
                    <li><a href="#" class="project-link">Psychopomp (2023)</a></li>
					<li><a href="#">Satanic Scissor (2023)</a></li>
					<li><a href="#">Scuttle! (2023)</a></li>
					<li><a href="#">Inner Beat (2022)</a></li>
					<li><a href="#">Kori (2022)</a></li>
                </ul>
            </div>
        </div>
    </div>

	<script>
		function handleProjectClick(projectId: string) {
			const contactSection = document.querySelector<HTMLElement>('.section.contact');
			const leftColumn = document.querySelector<HTMLElement>('.left-column');
			const rightColumn = document.querySelector<HTMLElement>('.right-column');
			const sectionProjects = document.querySelector<HTMLElement>('.section.projects');

			if (contactSection) {
				contactSection.classList.add('hidden');
			}

			if (leftColumn) {
				leftColumn.style.flexBasis = '33%';
				leftColumn.style.color = 'red';
			}

			if (rightColumn) {
				rightColumn.style.flexBasis = '67%';
			}
			if (sectionProjects) {
				sectionProjects.style.color = '#000000';
				sectionProjects.style.flexBasis = '67%';
			}
		}

		document.addEventListener('DOMContentLoaded', function() {
			const projectLinks = document.querySelectorAll('.project-link');

			projectLinks.forEach(link => {
				link.addEventListener('click', function(event) {
					event.preventDefault();
					handleProjectClick((event.currentTarget as HTMLElement).id);
				});
			});
		});

		function resetLayout() {
			const contactSection = document.querySelector<HTMLElement>('.section.contact');
			const leftColumn = document.querySelector<HTMLElement>('.left-column');
			const rightColumn = document.querySelector<HTMLElement>('.right-column');
			const contentContainer = document.querySelector<HTMLElement>('.content');

			if (contactSection) {
				contactSection.classList.remove('hidden');
			}

			if (leftColumn) {
				leftColumn.style.flexBasis = '66%'; // Revenir à la largeur originale
				leftColumn.classList.remove('hidden'); // Affiche la colonne gauche
			}

			if (rightColumn) {
				rightColumn.style.flexBasis = '33%'; // Revenir à la largeur originale
			}

			if (contentContainer) {
				contentContainer.classList.remove('adjust-width');
			}
		}

		document.addEventListener('DOMContentLoaded', function() {
			const projectLinks = document.querySelectorAll('.project-link');
			const logo = document.getElementById('logo');

			projectLinks.forEach(link => {
				link.addEventListener('click', function(event) {
					event.preventDefault();
					handleProjectClick((event.currentTarget as HTMLElement).id);
				});
			});

			if (logo) {
				logo.addEventListener('click', function() {
					resetLayout(); // Réinitialiser la mise en page lorsque le logo est cliqué
				});
			}
		});
	</script>
</Layout>

<style>

	* {
		margin: 0;
		padding: 0;
	}

	h1,h2 {
		font-family: 'NyghtSerif', sans-serif;
		font-size: 2.5em; /* Optionnel : ajuster la taille de la police */
    	color: #0D1F9B; /* Optionnel : ajuster la couleur du texte */
	}

	.section h2 {
		font-size: 2em;
		padding-top: 4vh;
		padding-bottom: 2vh;
	}

	p, a {
		font-family: 'GeistMono', sans-serif;
		font-size: 1em; /* Optionnel : ajuster la taille de la police */
    	color: #0D1F9B; /* Optionnel : ajuster la couleur du texte */
	}

	body {
		background-color: #FDF4ED; /* Fond crème */
		margin: 0;
		padding: 0;
		color: #0D1F9B;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 5%;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 2px solid #0D1F9B; /* Bordure bleue */
		position: relative; /* Pour permettre le centrage absolu */
		height: 150px; /* Ajuste la hauteur du header selon tes besoins */
	}

	.header-left {
		flex-basis: 15%; /* Ajuste la largeur de la section gauche */
		
		display: flex;
		align-items: center;
		justify-content: center;
		border-right: 2px solid #0D1F9B; /* Ligne de séparation entre gauche et droite */
		height: 150px;
	}

	.header-left .logo img {
		max-width: 100%; /* Ajuste selon la taille de ton logo */
	}

	.header-right {
		flex-basis: 85%; /* Ajuste la largeur de la section droite */
		text-align: center;
		color: #ffffff;
		position: absolute; /* Positionnement absolu pour centrer */
		left: 50%; /* Positionne horizontalement au centre */
		top: 50%; /* Positionne verticalement au centre */
		transform: translate(-50%, -50%); /* Centre exactement */
	}

	.header-right h1 {
		margin: 0;
		font-size: 2.5em;
	}

	.content {
		display: flex;
		justify-content: space-between;
		transition: all 0.5s ease;
	}

	.content.adjust-width {
		width: auto; /* Reviens à la largeur automatique après réinitialisation */
	}

	.left-column {
		display: flex;
		flex-direction: column;
		flex-basis: 66%; /* Largeur de la colonne de gauche (Resume et Contact) */
		transition: flex-basis 0.5s ease; /* Transition for resizing */
	}

	.right-column {
		flex-basis: 33%; /* Initial width of the right column */
		transition: flex-basis 0.5s ease;
	}

	.expand-right {
		flex-basis: 85%; /* Increase the size of the left column */
	}

	.section {
		padding: 4.125%;
		padding-top: 0;
		padding-bottom: 0;
		border: 2px solid #0D1F9B; /* Bordure bleue */
		border-top: none;
	}

	.section.hidden {
		opacity: 0;
		transition: opacity 0.5s ease-in-out; /* Fade out the sections */
	}

	.section.resume{
		padding: 8.25%;
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: 2px solid #0D1F9B;
		border-left: 2px solid #0D1F9B;
		border-right: none; /* Supprime la bordure droite */
		flex-basis: 66%; /* Pour garder les sections côte à côte avec un espace */
	}

	.section.contact {
		padding: 8.25%;
		padding-top: 0;
		padding-bottom: 0;
		border-top: none; /* Supprime la bordure en haut */
		border-left: 2px solid #0D1F9B; /* Ajoute une bordure gauche pour correspondre à Resume */
		flex-basis: 66%; /* Pour garder les sections côte à côte avec un espace */
		border-right: none; /* Supprime la bordure droite */
		font-family: 'GeistMono', sans-serif;
		transition: flex-basis 0.5s ease;
	}

	.hidden {
		flex-basis: 0;
		overflow: hidden; /* Ensures content does not overflow during transition */
	}
	
	.section.contact a{
		padding-bottom: 1.5em;
	}

	.section.projects {
		transition: flex-basis 0.5s ease-in-out; /* Transition for resizing */
	}

	.resume p {
		font-size: 1em;
		line-height: 1.5;
		padding-bottom: 1.5em;
	}

	.projects ul {
		list-style-type: none;
		padding: 0;
	}

	.projects li {
		margin-bottom: 10px;
	}


	.projects a:hover {
		text-decoration: underline;
	}

	.contact {
    flex-basis: 100%; /* Prend toute la largeur disponible sous "Resume" */
	}

	.contact ul {
		list-style-type: none;
		padding: 0;
		margin-bottom: 4vh;
	}

	.contact a {
		color: #0D1F9B;
		text-decoration: none;
		font-weight: bold;
	}

	.contact a:hover {
		text-decoration: underline;
	}

	.logo img {
    transition: transform 0.4s ease-in-out; /* Ajoute une transition douce */
	}

	.logo img:hover {
		transform: rotate(180deg); /* Fait pivoter l'image de 360 degrés */
	}

	#project-link {
		display: inline-block;
    	transition: transform 0.3s ease, color 0.3s ease;
	}

	#project-link.clicked {
		transform: scale(1.2);
		color: #ff6347; /* Tomato color */
	}

	.left-column, .right-column {
		transition: flex-basis 0.5s ease;
	}

</style>
